@import "mmv.mixins";

.mw-mlb-label {
	color: #333333;
	margin-left: 3px;
	.box-round(3px);
	padding: 2px 5px;
	background-color: #c9c9c9;
}

.mw-mlb-image-metadata-column {
	float: left;
	width: 50%;
}

.mw-mlb-permission-link {
	cursor: pointer;
}

.mw-mlb-mmv-about-links {
	clear: both;
}