@import "mmv.mixins";

.mw-mmv-label {
	color: #333333;
	margin-left: 6px;
	.box-round(3px);
	padding: 2px 5px;
	background-color: #dddddd;
	font-size: 0.9em;
	&:hover {
		background-color: #c9c9c9;
	}
}

.mw-mmv-image-metadata-column {
	float: left;
}

.mw-mmv-image-metadata-desc-column {
	width: 66.5%;
}

.mw-mmv-image-metadata-links-column {
	width: 33.5%;
}

.mw-mmv-permission-link {
	cursor: pointer;
}

.mw-mmv-about-links {
	clear: both;
}